body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.service-card {
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Notification Scrollbar */
.dropdown-menu::-webkit-scrollbar {
  width: 6px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #0b3d91;
  border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #082c6c;
}

.nav-link:hover {
  text-decoration: underline;
}
